USE employee_manager;

-- Departments
INSERT INTO departments (department_name, location, manager_id) VALUES
('Human Resources', 'Hanoi HQ', NULL),
('Finance', 'Hanoi HQ', NULL),
('IT', 'Hanoi HQ', NULL),
('Sales', 'Ho Chi Minh City', NULL),
('Research and Development', 'Hanoi HQ', NULL);

-- Employees (20 người)

-- Gán manager cho phòng ban
UPDATE departments SET manager_id = 1  WHERE department_name = 'Human Resources';
UPDATE departments SET manager_id = 4  WHERE department_name = 'Finance';
UPDATE departments SET manager_id = 7  WHERE department_name = 'IT';
UPDATE departments SET manager_id = 11 WHERE department_name = 'Sales';
UPDATE departments SET manager_id = 14 WHERE department_name = 'Research and Development';

-- Projects (8 dự án)

-- Assignments (~30 bản ghi)
-- HR projects
INSERT INTO assignments (employee_id, project_id, role, assigned_date, hours_worked) VALUES
(1, 1, 'Project Lead', '2024-01-01', 200),
(2, 1, 'HR Specialist', '2024-01-01', 180),
(3, 1, 'Recruiter', '2024-02-01', 160),
(2, 2, 'Coordinator', '2025-01-05', 20),
(3, 2, 'Coordinator', '2025-01-05', 15);
-- Finance
INSERT INTO assignments (employee_id, project_id, role, assigned_date, hours_worked) VALUES
(4, 3, 'Project Lead', '2024-12-01', 50),
(5, 3, 'Accountant', '2024-12-05', 45),
(6, 3, 'Financial Analyst', '2024-12-10', 40);
-- IT
INSERT INTO assignments (employee_id, project_id, role, assigned_date, hours_worked) VALUES
(7, 4, 'Project Manager', '2024-05-15', 100),
(8, 4, 'Engineer', '2024-05-15', 90),
(9, 4, 'Engineer', '2024-06-01', 80),
(10,4, 'Developer', '2024-06-01', 75),
(20,4, 'QA Engineer', '2024-06-15', 60),
(7, 5, 'Project Manager', '2025-02-01', 20),
(8, 5, 'Developer', '2025-02-01', 18),
(9, 5, 'SysAdmin', '2025-02-01', 15),
(10,5, 'Developer', '2025-02-01', 15),
(20,5, 'QA Engineer', '2025-02-01', 12);
-- Sales
-- R&D

-- Attendance (3 ngày x 20 NV ~ 60 bản ghi)
-- 2025-01-10

-- 2025-01-11

-- 2025-01-12

-- Salary payments (2 tháng x 20 NV)


-- Bonus / Deductions (20 bản ghi)
